.form-control {
    border : none;
    border-bottom: 2px solid black;
    width: 100%;
}
.form-control:focus {
    border : none;
    border-bottom: 5px solid black;
    box-shadow: 0 0 0 0.1rem rgba(255, 255, 255, 0.25);
}